
 <section class="w3l-footer-16">
        <div class="w3l-footer-16-main">
            <div class="container">
                <div class="row footer-p">
                    <div class="col-lg-4 pr-lg-5">
                        <a class="logo" href="/HomePage/Index"><i class="fa fa-cutlery" aria-hidden="true"></i> Leziz Mekanlar</a>
                        <p class="mt-4">
                            Gittiğiniz her yerde damak tadınıza göre bulabileceğiniz en leziz mekanlar!
                        </p>
                    </div>

                    <div class="col-lg-4 mt-lg-0 mt-4">
                        <h3>Sayfalar</h3>
                        <div class="row">
                            <div class="col-6 column">
                                <ul class="footer-gd-16">
                                    <li>
                                        <a href="/HomePage/Index">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>Ana Sayfa
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/about/index">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Hakkımızda
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#services">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>Services
                                        </a>
                                    </li>


                                </ul>
                            </div>
                            <div class="col-6 column pl-0">
                                <ul class="footer-gd-16">
                                    <li>
                                        <a href="blog.html">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Bloglar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="contact.html">
                                            <i class="fa fa-angle-right"
                                               aria-hidden="true"></i>İletişim
                                        </a>
                                    </li>
                            </div>
                        </div>
                    </div>
                @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
                </div>

                <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                    <div class="columns text-lg-left">
                        <p class="copy-text">
                            ©@DateTime.Now.Year Asp.Net Core 5.0 Gastronomy Blog Project. All rights reserved.
                        </p>
                    </div>
                    <div class="columns-2 mt-md-0 mt-3">
                        <ul class="social">
                            <li>
                                <a href="https://www.instagram.com/talipbayram"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/talipbayram"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/bayramtalip"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>